.App {
  font-family: sans-serif;
  text-align: center;
}

/* choose file button */
.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  margin: 2rem 0;
  font-size: 1.25em;
  font-weight: 700;
  padding: 1rem;
  color: white;
  border-radius: 0.25rem;
  background-color: rgb(218, 8, 8);
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgb(255, 13, 13);
}

/* folder sidebar */
.flex-container {
  display: flex;
}

.folder-list {
  background-color: pink;
  list-style-type: none;
  width: max-content;
  padding: 0;
}

.folder-file {
  text-align: left;
  padding: 5px;
}

.folder-file:hover {
  background-color: lightblue;
  cursor: pointer;
}

/* chart container */
.chart-container {
  width: 70vw;
}
