.App {
  font-family: sans-serif;
  text-align: center;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  margin: 2rem 0;
  font-size: 1.25em;
  font-weight: 700;
  padding: 1rem;
  color: white;
  border-radius: 0.25rem;
  background-color: rgb(218, 8, 8);
  display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
  background-color: rgb(255, 13, 13);
}
